//**
// Typography vars
//**

$default_font: 'Ledger', serif;

$header_font: 'Arvo', serif;


//**
// Layout vars
//**

// Golden ratio, which makes just about anything look lovely
$golden: 1.618;




//**
// Color vars
//**

$color01: #f2f2f2;
$color02: #333332;
$color03: #16a085;


